body{
     background-color: rgb(64, 82, 185);
     text-align: center;

}
.signup{
    background-color: white;
    width: 25%;
    text-align: left;
    padding: 20px;
    padding-top: 0%;
    margin:auto;
    border-radius: 4px;
}
.title{
    text-align: center;
}

button{
    background-color: rgb(41, 242, 152);
    color: white;
    border-width: 0cap;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
input{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
}
.label{
    width: 98%;
}
.footer{
    text-align: center;
    padding-bottom: 20px;
}
